/* base */
html {
    box-sizing: border-box; 
    height: 100vh;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

body {
    /* background-image: url(""); */
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    height: 100%;
}

/* typo */

@import url('https://fonts.googleapis.com/css?family=Sanchez:400,400i|Teko:400,700&display=swap');
/* Font size for responsive */
html {
    line-height: 20px;
}

p {
    font-size: 19px;
}

/* General text :active  */
a:hover {
    color: white;

}

/* Titles */

h1 {
    font-size: 50px;
} 
h2 {
    font-size: 40px;
} 
h3 {
    font-size: 30px;
} 
h4 {
    font-size: 25px;
} 
h5 {
    font-size: 20px;
} 
h6 {
    font-size: 19px;
} 

/* header */
.header {
    padding: 1.5em;
    width: 100%;
    font-family: 'Teko', sans-serif;
    display: flex;
    justify-content: center
}
.quote, .author-quote {
    line-height: 1.2;
}
.author-quote {
    font-style: italic;
}


/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 5em;
    background-color: #0F1E2D;
    opacity: 0.85;
    background: #0F1E2D 0% 0% no-repeat padding-box;
}
.content {
    color: #fff;
    display: none;
    flex-grow: 3;
    align-items: center;
}
.icone {
    padding-left: 0.5em;
}


/* Main */
.main {
    display: flex;
    margin-bottom: 2em;
    padding: 1.5em;
}

/* Body */

.main-section {
    border-bottom: 1px solid #0F1E2D;
    margin: 1.5em;
    width: 100%;
    text-align: center;
}

/*  bACKOFFICE */
.bo-formulaire {
    width: 30%;
    margin: auto;
    padding-top: 2em;
    border: 1px solid #0F1E2D;
}
.inscription {
    margin-bottom: 6em;
}
#connexion {
    text-align: center;
    padding-top: 2em;
}
#inscription{
    text-align: center;
    padding-top: 2em;
}
.field label {
    font-weight: bold;
    font-family: 'Teko';
    font-size: 1.3em;
}
.field{
    padding-bottom: 0.5em;
}
.label {
    font-size: 0.8em;
}
/* Formulaire */

.components-formulaire {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.posts-title {
    text-align: center;
    font-size: 3em;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    padding-bottom: 0.8em;
}